{
  "plugins": [
    "prettier-plugin-astro",
    "./node_modules/prettier-plugin-jsdoc/dist/index.js",
    "prettier-plugin-organize-attributes",
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "overrides": [
        {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}