---
import { Image } from "astro:assets";
import TempCCTVImage from "~/assets/temp-cctv.jpg";

type Props = {
  room: string;
};

const { room } = Astro.props;
---

<li>
  <form action="/cctv/room" method="get">
    <button
      class="transform overflow-hidden rounded-lg bg-base-100 shadow-md transition-transform hover:scale-[1.015]"
      type="submit"
    >
      <figure>
        <Image
          src={TempCCTVImage}
          alt="cctv room"
          class="aspect-video object-cover"
        />
      </figure>
      <div class="p-6 md:p-8">
        <h3 class="text-xl font-bold md:text-3xl">{room}</h3>
      </div>
    </button>
    <input type="text" value={room} name="name" class="sr-only" />
  </form>
</li>
